/*
!.gitignore
!docker_cd.sh

!media/
!caddy/
!homeassistant/
!homepage/
!immich-app/
!paperless-ngx/
!portainer/
!syncthing/
!tdarr/

media/*
caddy/*
homeassistant/*
homepage/*
immich-app/*
paperless-ngx/*
portainer/*
syncthing/*
tdarr/*


!media/docker-compose.yml
!caddy/docker-compose.yml
!homeassistant/docker-compose.yml
!homepage/docker-compose.yml
!immich-app/docker-compose.yml
!paperless-ngx/docker-compose.yml
!portainer/docker-compose.yml
!syncthing/docker-compose.yml
!tdarr/docker-compose.yml
