/*
!.gitignore
!docker_cd.sh

!media/
!caddy/
!homeassistant/
!homepage/
!immich-app/
!paperless-ngx/
!portainer/
!syncthing/
!karakeep/
!obsidian-livesync/

media/*
caddy/*
homeassistant/*
homepage/*
immich-app/*
paperless-ngx/*
portainer/*
syncthing/*
karakeep/*
obsidian-livesync/*

!media/docker-compose.yml
!caddy/docker-compose.yml
!homeassistant/docker-compose.yml
!homepage/docker-compose.yml
!immich-app/docker-compose.yml
!paperless-ngx/docker-compose.yml
!portainer/docker-compose.yml
!syncthing/docker-compose.yml
!karakeep/docker-compose.yml
!obsidian-livesync/docker-compose.yml
