services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:2025.12.5@sha256:9a5a3eb4a213dfb25932dee9dc6815c9305f78cecb5afa716fa2483163d8fb5b
    container_name: homeassistant
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=Europe/London
    volumes:
      - homeassistant_data:/config

volumes:
  homeassistant_data:
    name: homeassistant_data
    external: true
