services:

  radarr:
    image: ghcr.io/hotio/radarr:release-5.28.0.10274@sha256:42ca21d9bab4df84af1898e7256256b85a04b207e72c620ac382ac4151d65dd0
    container_name: radarr
    restart: unless-stopped
    ports:
      - 7878:7878
    environment:
      - PUID=${USER_PUID}
      - PGID=${USER_PGID}
      - TZ=Europe/London
      - UMASK=002
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_PATH}/radarr:/config
      - ${DATA_PATH}:/data

  sonarr:
    image: ghcr.io/hotio/sonarr:release-4.0.16.2944@sha256:20cf6013b2b35c035f9ce7d5e8149eccf03c933c58ea40a9bd397e57a6dee714
    container_name: sonarr
    restart: unless-stopped
    ports:
      - 8989:8989
    environment:
      - PUID=${USER_PUID}
      - PGID=${USER_PGID}
      - TZ=Europe/London
      - UMASK=002
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_PATH}/sonarr:/config
      - ${DATA_PATH}:/data

  bazarr:
    image: ghcr.io/hotio/bazarr:release-1.5.4@sha256:812efedc53eaf98bdbf7d88f75f91363195ecb35d9b1601cacb49597816cdf73
    container_name: bazarr
    restart: unless-stopped
    ports:
      - 6767:6767
    environment:
      - PUID=${USER_PUID}
      - PGID=${USER_PGID}
      - TZ=Europe/London
      - UMASK=002
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_PATH}/bazarr/:/config
      - ${DATA_PATH}/media:/data/media

  prowlarr:
    image: ghcr.io/hotio/prowlarr:release-2.3.0.5236@sha256:241b6af1b823988be9ea07c1bd45c93d5570e7612ed8d6b428aa696852034295
    container_name: prowlarr
    restart: unless-stopped
    ports:
      - 9696:9696
    environment:
      - PUID=${USER_PUID}
      - PGID=${USER_PGID}
      - UMASK=002
      - TZ=Europe/London
    volumes:
      - ${DOCKER_PATH}/prowlarr:/config:rw

  jellyfin:
    image: ghcr.io/hotio/jellyfin:release-10.11.2@sha256:a6fd0eb9595f93a2a198974344b47c78fd8d244f6f79e02ee0e593aa0731ac80
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - 8096:8096
    environment:
      - PUID=${USER_PUID}
      - PGID=${USER_PGID}
      - TZ=Europe/London
      - UMASK=002
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_PATH}/jellyfin:/config:rw
      - ${DATA_PATH}/media:/data/media:rw
    devices:                                        
      - /dev/dri:/dev/dri                      

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent:release-5.1.2@sha256:d774ab1c15158ab4c51ad56c3ece0079a3ebf21f39daf9d1a9f0616fab5f1f98
    container_name: qbittorrent
    restart: unless-stopped
    ports:
      - 8080:8080
      - 50000:50000
    cap_add:
      - NET_ADMIN
#   devices:                              # Optional, uncomment if you use VPN
#     - /dev/net/tun:/dev/net/tun         # Optional, uncomment if you use VPN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    environment:
      - PUID=${USER_PUID}
      - PGID=${USER_PGID}
      - UMASK=002
      - TZ=Europe/London
      - LIBTORRENT=v1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_PATH}/qbittorrent:/config:rw
      - ${DOCKER_PATH}/qbittorrent/VueTorrent:/app/vuetorrent
      - ${DATA_PATH}/torrents:/data/torrents:rw

  autobrr:
    image: ghcr.io/autobrr/autobrr:v1.71.0@sha256:db9794958a0f9db93059c1e9f06193a063ce3846d346d7a7c9eca607c6617c51
    container_name: autobrr
    restart: unless-stopped
    ports:
      - 7474:7474
    user: ${USER_PUID}:${USER_PGID}
    environment:
      - TZ=Europe/London
    volumes:
      - ${DOCKER_PATH}/autobrr:/config

  omegabrr:
    image: ghcr.io/autobrr/omegabrr:v1.16.0@sha256:fe529c331217e0624c505a1aa47d2a089314e8a284d38a621135b848eeef64ad
    container_name: omegabrr
    restart: unless-stopped
    ports:
      - 7441:7441
    user: ${USER_PUID}:${USER_PGID}
    volumes:
      - ${DOCKER_PATH}/omegabrr:/config

  seasonpackarr:
    image: ghcr.io/nuxencs/seasonpackarr:v0.14.0@sha256:b8e759b3fb3c9587aafbb5ebcf4a5527245afd35b5893439fd21aea0283c8144
    container_name: seasonpackarr
    restart: unless-stopped
    user: ${USER_PUID}:${USER_PGID}
    ports:
      - 42069:42069
    environment:
      - SEASONPACKARR__SMART_MODE= true
      - SEASONPACKARR__SMART_MODE_THRESHOLD= 0.75
      - SEASONPACKARR__PARSE_TORRENT_FILE= true
    volumes:
      - ${DOCKER_PATH}/seasonpackarr:/config
      - ${DATA_PATH}/torrents:/data/torrents

networks:
  default:
    name: caddy_proxy
    external: true

####### Update Containers ##########
# docker compose pull
# docker compose up -d --remove-orphans
# docker image prune
