services:  
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.6.1@sha256:8c7ec6a3c9094af7ac0686aa361fed3129264a8ed2c17594d5114a5e8342f7c9
    container_name: homepage
    restart: unless-stopped
    networks:
      - caddy_proxy
    ports:
      - 3000:3000
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
      - ${DATA_PATH}:/mnt/data
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    environment:
        HOMEPAGE_ALLOWED_HOSTS: internal.ajanthank.com

networks:
  caddy_proxy:
    external: true
