services:  
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.6.0@sha256:4ab33a0b91f382c07c6734c6102b16594e8d386347f0704460172fcd16f11443
    container_name: homepage
    restart: unless-stopped
    networks:
      - caddy_proxy
    ports:
      - 3000:3000
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
      - ${DATA_PATH}:/mnt/data
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    environment:
        HOMEPAGE_ALLOWED_HOSTS: internal.ajanthank.com

networks:
  caddy_proxy:
    external: true
