
services:
  portainer:
    image: portainer/portainer-ce:2.38.1@sha256:3ffd8daa77bf32a4afdabe1708fb20790a1675e519b2fe2dfaa4d08154f5b1f0
    container_name: portainer
    restart: always
    networks:
      - caddy_proxy
    ports:
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data

networks:
  caddy_proxy:
    external: true
  