
services:
  portainer:
    image: portainer/portainer-ce:2.38.0@sha256:e900ea5768993a53f174c7438653fdb42ee5d00a4321ecffa7653eb146f7ae99
    container_name: portainer
    restart: always
    networks:
      - caddy_proxy
    ports:
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data

networks:
  caddy_proxy:
    external: true
  