
services:
  portainer:
    image: portainer/portainer-ce:2.37.0@sha256:b48a491b8d2838c7ee98da6e00e32a04d0347a26466f48b20fb11e484e28f32a
    container_name: portainer
    restart: always
    networks:
      - caddy_proxy
    ports:
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data

networks:
  caddy_proxy:
    external: true
  