services:
  karakeep-app:
    image: ghcr.io/karakeep-app/karakeep:0.29.0@sha256:be023336ed2ffb4c82209b068fd68f31e33b4a365e8222f8e8fbb499085c00af
    container_name: karakeep-app
    restart: unless-stopped
    volumes:
      - ./data:/data
    ports:
      - 3001:3000
    env_file:
      - .env
    environment:
      MEILI_ADDR: http://karakeep-meilisearch:7700
      BROWSER_WEB_URL: http://karakeep-chrome:9222

      CRAWLER_STORE_SCREENSHOT: "true"
      CRAWLER_FULL_PAGE_SCREENSHOT: "true"
      CRAWLER_ENABLE_ADBLOCKER: "true"

      DATA_DIR: /data
  karakeep-chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124@sha256:1a0046448e0bb6c275c88f86e01faf0de62b02ec8572901256ada0a8c08be23f
    container_name: karakeep-chrome
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0 
      - --remote-debugging-port=9222
      - --hide-scrollbars
  karakeep-meilisearch:
    image: getmeili/meilisearch:v1.13.3@sha256:bed3fb650e62da53145777204891159242f6ea4ce69e215b36223af4aa64a0ae
    container_name: karakeep-meilisearch
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - ./meilisearch:/meili_data

networks:
  default:
    name: caddy_proxy
    external: true
